RewriteEngine on
RewriteCond %{HTTP_HOST} ^sistema.poentecompany.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.sistema.poentecompany.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]