// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import '../AdminLTE/plugins/fontawesome-free/css/all.css';

@import '../AdminLTE/dist/css/adminlte.min.css';

@import '../AdminLTE/plugins//select2/css/select2.css';
@import './style.scss';