.select2-container{
    width: 100%;
}
.select2-container .select2-selection--single{
    height: 37px;
    border: 1px solid #ced4da;
}
.menu-mobile{
    display: none;
}
@media screen and (max-width:991px) {
    .menu-desktop {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    .breadcrumb {
        display: none;
    }
    .formulario-login{
        width:100%!important;
    }
    .imagem-login{
        position: absolute;
        width: 100%!important;
    }
}
