.select2-container{
    width: 100%;
}
.select2-container .select2-selection--single{
    height: 37px;
    border: 1px solid #ced4da;
}
.menu-mobile{
    display: none;
}



// Check Success

.wrapper_check_success {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }


//   Fim check success

@media screen and (max-width:991px) {
  .menu-desktop {
      display: none;
  }
  .menu-mobile {
      display: block;
  }
  .breadcrumb {
      display: none;
  }
  .formulario-login{
      width:100%!important;
  }
  .imagem-login{
      position: absolute;
      width: 100%!important;
  }
}
@media screen and (max-width:630px) {
  .background-login img {
    height: 100%;
  }
  .inputs-fechamento {
    flex-direction: column!important;
    align-items: center;
  }
  .inputs-fechamento .w-50{
    width: 100%!important;
    max-width: 100%!important;
  }
  .file-fechamentos{
    flex-direction: column!important;
  }
  .file-fechamentos .col-6{
    width: 100%!important;
    max-width: 100%!important;
    flex: 0 0 auto!important;
  }
}
